<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharePhoto.dataFaker.dao.NotificationMapper">
  <resultMap id="BaseResultMap" type="com.sharePhoto.dataFaker.entity.Notification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="is_read" jdbcType="TINYINT" property="isRead" />
    <result column="receiver_id" jdbcType="INTEGER" property="receiverId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sharePhoto.dataFaker.entity.Notification">
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>
  <sql id="Base_Column_List">
    id, timestamp, is_read, receiver_id
  </sql>
  <sql id="Blob_Column_List">
    message
  </sql>
  <insert id="insert" >
    insert into notification (receiver_id, message)
    values (#{receiverId,jdbcType=INTEGER}, #{message,jdbcType=LONGVARCHAR})
  </insert>
</mapper>