<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharePhoto.dataFaker.dao.PhotoMapper">
    <resultMap id="BaseResultMap" type="com.sharePhoto.common.service.entity.Photo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="filename" jdbcType="VARCHAR" property="filename"/>
        <result column="filename_s" jdbcType="VARCHAR" property="filenameS"/>
        <result column="filename_m" jdbcType="VARCHAR" property="filenameM"/>
        <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp"/>
        <result column="flag" jdbcType="SMALLINT" property="flag"/>
        <result column="can_comment" jdbcType="TINYINT" property="canComment"/>
        <result column="author_id" jdbcType="INTEGER" property="authorId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, description, filename, filename_s, filename_m, timestamp, flag, can_comment, 
    author_id
    </sql>
    <insert id="insertFake" parameterType="com.sharePhoto.common.service.entity.Photo">
        insert into photo (filename, filename_s, filename_m, author_id, description)
        values (#{filename,jdbcType=VARCHAR}, #{filenameS,jdbcType=VARCHAR}, #{filenameM,jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR} )
      </insert>
</mapper>