<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharePhoto.sso.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.sharePhoto.common.service.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password_hash" jdbcType="VARCHAR" property="passwordHash"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="website" jdbcType="VARCHAR" property="website"/>
        <result column="bio" jdbcType="VARCHAR" property="bio"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="member_since" jdbcType="TIMESTAMP" property="memberSince"/>
        <result column="avatar_s" jdbcType="VARCHAR" property="avatarS"/>
        <result column="avatar_m" jdbcType="VARCHAR" property="avatarM"/>
        <result column="avatar_l" jdbcType="VARCHAR" property="avatarL"/>
        <result column="avatar_raw" jdbcType="VARCHAR" property="avatarRaw"/>
        <result column="confirmed" jdbcType="TINYINT" property="confirmed"/>
        <result column="locked" jdbcType="TINYINT" property="locked"/>
        <result column="active" jdbcType="TINYINT" property="active"/>
        <result column="public_collections" jdbcType="TINYINT" property="publicCollections"/>
        <result column="receive_comment_notification" jdbcType="TINYINT" property="receiveCommentNotification"/>
        <result column="receive_follow_notification" jdbcType="TINYINT" property="receiveFollowNotification"/>
        <result column="receive_collect_notification" jdbcType="TINYINT" property="receiveCollectNotification"/>
        <result column="role_id" jdbcType="TINYINT" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, email, username, password_hash, name, website, bio, location, member_since, avatar_s, 
    avatar_m, avatar_l, avatar_raw, confirmed, locked, active, public_collections, receive_comment_notification, 
    receive_follow_notification, receive_collect_notification, role_id
    </sql>
    <!-- 根据用户邮箱地址获取用户用户名 -->
    <select id="selectUsernameByEmail" resultType="java.lang.String" parameterType="java.lang.String">
      select username from user where email = #{email,jdbcType=VARCHAR}
    </select>
    <!-- 获取用户登录返回信息 -->
    <resultMap id="selectLoginUserInfoByIdResultMap" type="com.sharePhoto.common.service.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="avatar_s" property="avatarS"/>
        <result column="avatar_m" property="avatarM"/>
        <association property="admin" select="com.sharePhoto.sso.dao.UserMapper.selectIsAdmin" column="id"
                     javaType="boolean"/>
        <association property="canModerate" select="com.sharePhoto.sso.dao.UserMapper.selectCanModerate" column="id"
                     javaType="boolean"/>
        <association property="canComment" select="com.sharePhoto.sso.dao.UserMapper.selectCanComment" column="id"
                     javaType="boolean"/>
        <association property="notificationCount" select="com.sharePhoto.sso.dao.UserMapper.selectNotificationById"
                     column="id" javaType="java.lang.Integer"/>
    </resultMap>
    <select id="selectLoginUserInfoByEmail" resultMap="selectLoginUserInfoByIdResultMap"
            parameterType="java.lang.String">
      select id, username, name, avatar_s, avatar_m from user where email = #{email,jdbcType=VARCHAR}
    </select>
    <select id="selectNotificationById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
      select count(*) from notification where receiver_id = #{userId,jdbcType=INTEGER} and is_read = 0
    </select>
    <select id="selectIsAdmin" resultType="boolean" parameterType="java.lang.Integer">
      select * from user where id = #{userId,jdbcType=INTEGER} and role_id = 4
    </select>
    <select id="selectCanModerate" resultType="boolean" parameterType="java.lang.Integer">
      select * from roles_permissions left join user on user.role_id = roles_permissions.role_id where user.id = #{userId,jdbcType=INTEGER} and permission_id = 5
    </select>
    <select id="selectCanComment" resultType="boolean" parameterType="java.lang.Integer">
    select * from roles_permissions left join user on user.role_id = roles_permissions.role_id where user.id = #{userId,jdbcType=INTEGER} and permission_id = 3
    </select>
    <select id="selectOriUsernaem" resultType="java.lang.String">
      select ori_username from user  where username = #{username}
    </select>
    <select id="selectLoginInfo" resultType="com.sharePhoto.common.service.entity.User">
      select id, email, username, ori_username, password_hash, active from user where email = #{email}
    </select>
</mapper>